/* #Site Styles
 * Mostly as-is from Calepin.co, now open source
 * https://github.com/jokull/calepin
================================================== */

body { font: 18px/25px 'Palatino', 'Palatino Linotype', 'Georgia', serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

li { line-height: 24px }

ul.like-buttons{
  float: left;
  list-style: none;
  margin: 5px 0 20px 0;
  padding: 0;
  padding-left: 5px;
  width: 100%;
}
ul.like-buttons li{
    float: left;
    margin-right: 10px;
}

li.like-gplus {
  padding-top: 9px;
}

li.like-twitter {
}

li.like-facebook span {
  padding-bottom: 10px;
}

/*
header { 
  margin-bottom: 30px; 
  background: #f0f0f0; 
  border-bottom: 1px solid #e0e0e0; }
  
header h1 { font-size: 20px; padding: 20px 0; margin: 0; }
header h1 a:hover,
header h1 a:visited,
header h1 a { font-weight: bold; text-decoration: none; display: block; }
header h1 a img { 
  border-radius: 2px; 
  padding: 1px; 
  background: white; 
  box-shadow: 1px 1px 1px rgba(0,0,0,.3); 
  margin-right: 15px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

h2.section { 
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
*/

iframe, object { margin-top: 0.5em; }

footer { 
  padding: 10px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; 
  text-shadow: 0 1px 0 white;
  color: #777; 
  text-align: right; }

.permalink { text-align: right; }
.permalink a { text-transform: uppercase; font-size: 8pt; color: #CCC; }

time.published { 
  color: #666; font-size: 12px;
  font-family: Helvetica, Arial, sans-serif; }
time.published a { color: #666; text-decoration: none; }
  
#post-list { list-style: none; }
#post-list li { margin-bottom: 40px; }
#post-list li h2 { font-size: 17pt; line-height: 29px; font-weight: normal; 
                   margin: 0; }
#post-list li h2 a { text-decoration: none; color: black; }
#post-list li h2 a:hover { text-decoration: underline; }
#post-list li h2 .pictogram { color: #CCC; }
#post-list p.abstract { font-size: 11pt; }

article { margin-bottom: 3em; }

/*
article p,
article li, 
article blockquote,
article h4,
article h4,
article h5,
article h6,
article h6,
article h6,
article hr, 
article table { max-width: 560px; }
*/
article ul { list-style: disc outside; margin-left: 2em; }
article blockquote { color: #777; font-size: 14px; line-height: 19px; padding: 0 12px; margin: 20px 8px; }
article blockquote p { color: #777; font-family: Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; }

article .entry-header { margin-bottom: 20px; }
article .entry-header h1 { margin-top: 0px; }
article .entry-header a { text-decoration: none; border-bottom: 0; }
article .entry-header a:hover { border-bottom: 1px solid #CCC; }
article .entry-header .published a { border: 0; color: #888; }

article .entry-content h1 { font-size: 19pt; }
article .entry-content h2 { font-size: 17pt; }
article .entry-content h3 { font-size: 14pt; }
article .entry-content h4 { font-size: 12pt; }
article .entry-content h5 { font-size: 10pt; font-weight: bold }
article .entry-content h6 { font-size: 10pt; margin-bottom: .3em; }
article .entry-content p,
article .entry-content ul li,
article .entry-content ol:not(.linenums) li { font-size: 12pt; line-height: 20pt; }

article .metadata { font-size: 11px; color: #888; }
article .metadata p { margin-bottom: 0; }
article .metadata a { color: #666; }
article .metadata address { display: none; }

sup { vertical-align: .2em; font-size: 80%; margin: -2px 0 0 2px; }

p img { max-width: 100%; }
small { font-size: 80%; }

/* .container, .container .sixteen.columns { width: 480px; } */

.MathJax_Display * { color: #222 !important; }

@media only screen and (max-width: 767px) {
  
  footer { font-size: 11px; }
  footer .twitter { position: static; }
  article .entry-header h1 { font-size: 22px; margin: 10px 0; }
  time.published { font-size: 11px; }
  
  #post-list li { margin-bottom: 6px; }
  #post-list li time { margin-bottom: 0px; }
  #post-list li h2 { font-size: 16px; line-height: 24px; }
  
  article .entry-content p,
  article .entry-content li { font-size: 10pt; line-height: 16pt; }
  
  /*
  article p,
  article li, 
  article blockquote,
  article h4,
  article h4,
  article h5,
  article h6,
  article h6,
  article h6,
  article hr, 
  article table { max-width: none; }*/
}
