// Ici, la NavBar est unfixée, transformer les ribbons en "boutons"
@media (max-width: 480px) {
	.ribbon {
		.clearfix;
		.border-radius();
		background-position: left center;
		color: @white;
		display: block;
		height: 40px;
		font-family: @altFontFamily;
		font-size: @baseFontSize - 2;
		margin-bottom: 2px;
		padding-top: 10px;
		text-align: center;
		text-decoration: none;
		width: 100%;
		&:hover span {
			color: @black;
		}
	}
	.ribbon-rss {
		background-position: 5px center;
	}
	.nav-collapse.pull-right {
		float: none;
	}
}

@media (min-width: 481px) {
	.ribbon {
		.clearfix;
		margin-right: 10px;
		display: inline-block;
		color: black;
		background-color: white;
		background-position: center center;
		width: 40px;
		.border-bottom-left-radius(9px);
		.border-bottom-right-radius(9px);
		text-align: center;
		span {
			#font > #family > .monospace;
			font-size: @baseFontSize * .850;
		}
	}
}

.ribbon-twitter {
	background-color: #C0DEED;
	background-image: url(/img/tw_wh.png);
	background-repeat: no-repeat;
	.transition(background-color 1s ease);
	&:hover {
		background-color: white;
		background-image: url(/img/tw_bl.png);
	}
}

.ribbon-rss{
	background-color: @orange;
	background-image: url(/img/r_wh.png);
	background-repeat: no-repeat;
	.transition(background-color 1s ease);

	&:hover {
		background-color: white;
		background-image: url(/img/r_bl.png);
	}
}
