@shareButtonTotalWidth: 140px;

@media (max-width: 480px) {
  .like-twitter {
    margin-right: @shareButtonTotalWidth - 117px;
  }
  .like-gplus {
    margin-right: @shareButtonTotalWidth - 90px;
  }
  .like-facebook {
    margin-right: @shareButtonTotalWidth - 130px;
  }
  .like-flattr {
    margin-right: @shareButtonTotalWidth - 93px;
  }
}
@media (min-width: 481px) {
  // Twitter, GPlus and Facebook's iFrames all have generous space to their right,
  // shouldn't be a problem unless I get a gazillion likes
  .like-twitter, .like-gplus, .like-facebook {
    margin-right: 0;
  }
  .like-flattr {
    margin-right: 20px;
  }
}

ul.like-buttons {
  float: left;
  list-style: none;
  margin: 2px 0 2px 0;
  padding: 0 0 3px 5px; // top-right-bottom-left
  width: 100%;
  li {
    float: left;

    // Set the right margin of each like button so that they all take 140px (wider's width+10px)

    &.like-twitter {
      // Twitter's iFrame is 20px high
      // Its width is 117px
      iframe {
        vertical-align: middle;
      }
    }
    &.like-gplus {
      // Google Plus' iFrame is 20px high with no padding nor margin
      // Its width is 90px

      // Google Plus resets the margins to 0px
      div[style] {
        vertical-align: middle !important;
      }
    }
    &.like-facebook span {
      // Facebook's iFrame is 21px high
      // Its width is 130px
      vertical-align: middle;
    }
    &.like-flattr {
      // Flattr itself is 22px high
      // Its width is 93px
      a img {
        vertical-align: middle;
      }
    }
  }
}

.share-initial {
	margin: 0px;
  opacity: 0.3;
  &.share-final {
    opacity: 1;
  }
}
