<div class="share-initial">
  <ul class="like-buttons well">
    <li class="like-flattr">
      <a href="https://flattr.com/submit/auto?user_id=PuerkitoBio&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}&language=fr_FR">
        <img src="/img/fl.png" alt="Partager avec Flattr"></img>
      </a>
    </li>
    <li class="like-twitter">
      <a href="//twitter.com/share" class="twitter-share-button" data-via="PuerkitoBio" data-lang="fr">Tweeter</a>
    </li>
    <li class="like-gplus">
      <g:plusone size="medium"></g:plusone>
    </li>
    <li class="like-facebook">
      <fb:like href="{{ site.url }}{{ page.url }}" send="false" layout="button_count" show_faces="false" action="like" width="130px" style="display: block; float: left; margin: 0; padding: 0;"></fb:like>
    </li>
  </ul>
</div>
