---
layout: master
---
<article class="hentry">
	<header class="entry-header">
      <time class="published" datetime='{{ page.date | date:"%Y-%m-%d" }}'>{% include date-month-french.html %}</time>
      <h1 class="instapaper_title">{{ page.title }}</h1>
      <div>
      	<ul class="like-buttons well">
      		<li class="like-twitter">
				<a href="//twitter.com/share" class="twitter-share-button" data-via="PuerkitoBio" data-lang="fr">Tweeter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</li>
			<li class="like-gplus">
				<g:plusone size="medium"></g:plusone>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'fr'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = '//apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
			<li class="like-facebook">
				<fb:like href="{{ site.url }}{{ page.url }}" send="false" layout="button_count" show_faces="false" action="like" width="130px" style="display: block; float: left; margin: 0; padding: 0;"></fb:like>
			</li>
		</ul>
      </div>
    </header>
	<div class="instapaper_body entry-content">
		{{ content }}
	</div>
	<div class="metadata">
		<p>Publié dans <em>
			{% for catg in page.categories %}
			<a href="#">{{ catg }}</a>
			&nbsp;
			{% endfor %}
		</em></p>
	</div>
</article>
