---
layout: master
---
<article class="hentry">
	<header class="entry-header">
      <time class="published" datetime='{{ page.date | date:"%Y-%m-%d" }}'>{% include date-month-french.html %}</time>
      <h1 class="instapaper_title share"><span>{{ page.title }}</span>&nbsp;<a href="#"><i class="icon-share-alt" title="Partager"></i></a>
      </h1>
      {% include share.html %}
    </header>
	<div class="instapaper_body entry-content">
		{{ content }}
	</div>
	<div class="metadata">
		<p>
      Publié dans <em>
			{% for catg in page.categories %}
			<a href="/categories/{{ catg }}">{{ catg }}</a>
      {% if forloop.last == false %},{% endif %}
			{% endfor %}
		  </em>. <a href="#"><span class="share">Partagez, ça ne fait pas mal</span></a>.
    </p>

    {% include share.html %}
	</div>
	<div class="comments">
		<div id="disqus_thread"></div>
		<a href="http://disqus.com" class="dsq-brlink">Commentaires gérés par <span class="logo-disqus">Disqus</span></a>
    </div>
</article>
